[Desktop Entry]
Type=Application
Version=1.0
Name=Boxflat
Comment=Moza Racing settings app
GenericName=settings
Path=/usr/bin/
Exec=boxflat
StartupWMClass=io.github.lawstorant.boxflat
Icon=io.github.lawstorant.boxflat
Terminal=false
StartupNotify=true
Categories=Game;Utility;
Keywords=game;racing;cars;wheels;moza;
