.sidebar-button {
    border-radius: 4px;
    font-weight: bold;
    padding: 10px;
    margin: 4px 6px;
}

.settings-pane {
    padding: 20px;
}

.transparent-bg {
    background-color: rgba(0, 0, 0, 0);
}

.transparent {
    opacity: 0;
}