.sidebar-button {
    border-radius: 4px;
    font-weight: bold;
    padding: 8px 10px;
    margin: 6px 6px;
}

.settings-pane {
    margin: 0;
}

.transparent-bg {
    background-color: rgba(0, 0, 0, 0);
}

.transparent {
    opacity: 0;
}

.row-button {
    margin: 6px;
}
