.sidebar-button {
    border-radius: 4px;
    font-weight: bold;
    padding: 8px 10px;
    margin: 6px 6px;
}

.settings-pane {
    margin: 0;
}

.transparent-bg {
    background-color: rgba(0, 0, 0, 0);
}

.transparent {
    opacity: 0;
}

.toggle-button {
    border-radius: 0;
    border-right: 1px solid #727272;
}

.toggle-button:first-child {
    border-radius: 5px 0 0 5px;
}

.toggle-button:last-child {
    border-radius: 0 5px 5px 0;
}

.toggle-button:last-child:not(.cs) {
    border-right: 0;
}

.color-button {
    padding: 5px 10px;
    margin: 16px 0;
    border: 0;
}

levelbar {
    margin: 14px 0;
}

.big-slider {
    margin: 10px 0;
}

.big-slider-label {
    margin-right: 12px;
}

.eq-slider {
    margin-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
}

.eq-label {
    margin-bottom: 12px;
}

.eq-buttons {
    margin-top: 8px;
}

.header > .header {
    margin-top: 10px;
}

/* .banner-disconnected > revealer > widget  {
	background-color: rgba(255, 60, 60, 0.4);
}

.banner-disconnected > revealer > widget:backdrop  {
	background-color: rgba(255, 60, 60, 0.2);
} */

/* Button colors */
.c0 {
    background-color: #cf2727;
    border-color: #cf2727;
    color: #cf2727;
}

.c1 {
    background-color: #dfa500;
    border-color: #dfa500;
    color: #dfa500;
}

.c2 {
    background-color: #dfdf3a;
    border-color: #dfdf3a;
    color: #dfdf3a;
}

.c3 {
    background-color: #3a903a;
    border-color: #3a903a;
    color: #3a903a;
}

.c4 {
    background-color: #00d0d0;
    border-color: #00d0d0;
    color: #00d0d0;
}

.c5 {
    background-color: #3a3aff;
    border-color: #3a3aff;
    color: #3a3aff;
}

.c6 {
    background-color: #802080;
    border-color: #802080;
    color: #802080;
}

.c7 {
    background-color: #dddddd;
    border-color: #dddddd;
    color: #dddddd;
}

/* Color Selected */
.cs {
    padding: 0 5px;
    border: 5px solid #0c0c0c;
}

colorbutton {
    margin: 0 13px 16px 0;
}

colorbutton:last-child {
    margin-right: 0;
}

colorbutton > button {
    border-radius: 100px;
}

colorbutton > button > colorswatch {
    border-radius: 100px;
}
